* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.box {
  height: 300px;
  width: 300px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.part {
  height: 100px;
  width: 100px;
  border: 1px solid gray;
}

.x {
  width: 100%;
  height: 200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center img{
  width: 30%;
}

.part img {
  width: 80%;
  height: 80%;
}
